@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--background);
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: block; /* or remove display:flex altogether if not needed */
  gap: 0;
}

.shapedividers_com-185 {
  width: 170px;
  height: calc(100vh - 12vh) ;
  overflow:hidden;
  position: relative; 
  margin-top: 12vh;
}

.shapedividers_com-185::before {
  content: "";
  font-family: "shape divider from ShapeDividers.com";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 155px 100%;
  background-position: 100% 50%;
  transform: rotateX(180deg);
  background-image: url("data:image/svg+xml;charset=utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2.17 35.28' preserveAspectRatio='none'><path d='M1.67 0c-.55 3.07.41 9.27 0 16.14-.4 6.88-.58 13.75.1 19.14h.4V0z' fill='%23002866'/><path d='M1.16 0c-.8 3.17.4 7.29.56 10.04C1.89 12.8.25 19.3.42 22.71c.16 3.43.84 4.65.86 7.05.03 2.4-.88 5.52-.88 5.52h1.77V0z' opacity='.5' fill='%23002866'/><path d='M.31 0c.84 2.56.3 7.68.43 11.79.12 4.1.61 6.86.28 9.58-.33 2.73-1.18 5.61-1 8.61.19 3 .82 4.73.84 5.3h1.2V0z' opacity='.5' fill='%23002866'/></svg>");
}

  
  @media (min-width:768px){
  .shapedividers_com-185::before{
  background-size: 155px 100%;
  background-position: 100% 50%;  
  transform: rotateX(180deg); 
  }  
  }
   
  @media (min-width:1025px){
  .shapedividers_com-185::before{ 
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw; 
  background-size: 155px 100%;
  background-position: 100% 50%; 
  transform: rotateX(180deg); 
  }
  }
  
   
.rotate-svg {
  transform: rotate(90deg);
  transform-origin: center;
  width: 100%; /* Adjust as needed */
  height: 100%; /* Adjust as needed */
}
@media print {
  .sidebar {
    display: none !important;
  }

  .layout {
    display: block !important;
  }

  .main-content {
    width: 100% !important;
    flex: none !important;
  }
    body, html {
    color: black !important;
  }

  * {
    color: black !important;
  }
}
